@font-face{
	 font-family: 'press_start_2pregular';
    src: url('../fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('../fonts/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	font-family: 'press_start_2pregular';
}

.full {
  background: url("../image/map.png") no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.position{
	display: inline-block;
 }
 #click{
 position: fixed;
    bottom: 0;
    right: 0;
 }
 .pizza{
 display: block; 
 float: left;
  margin-left: 40%; 
 margin-right: 1%;
  margin-bottom: 0.5em;
   width: 5%;
 }
 .banana{
 display: block; 
 float: left; 
 margin-right: 1%;
  margin-bottom: 0.5em;
  width: 5%;
 }
 .phone{
 display: block; 
 float: left; 
 margin-right: 1%;
  margin-bottom: 0.5em;
  width: 5%;
 }
 .hidden{
 display: none;
 
 }
 .hiddenPizza{
 display: none; 
 float: left;
  margin-left: 40%; 
 margin-right: 1%;
  margin-bottom: 0.5em;
   width: 5%;
 }
 .banana2{
 margin-left: 40%;
 display: block; 
 float: left; 
 margin-right: 1%;
  margin-bottom: 0.5em;
  width: 5%;
 }
 .centerPosition{
 margin-left: auto;
 margin-right: auto;
 }
 .notHidden{
 display: block;
 }
 div.box{
 background-color: rgba(255, 255, 255,.6);
 opacity: ;
 width: 600px;
 height: 400px;
 
 padding: 25px;
 margin: 5px;
 
 }
